.short-basic-data{
    background: white;
    border: 1px solid #cccccc;
    padding-left: 30px;
    padding-right: 30px;
}
.search-component{
    background: white;
    border:1px solid rgba()228,228,228,1;
    height: 61px;
    padding-top:15px;;
}
.green-btn{
    height: 30px;
    line-height: 30px;
    background-color:rgba(75,207,131,1);
    text-align: center;
    border-radius: 4px;
    margin-right:12px;
    cursor: pointer;
}
.green-btn span{
    color: white;
    font-size: 14px;
}
.search-input{
    position:relative;
}
.search-input .form-control{
    width:300px;
    height:32px;
    border-right:none;
    border-radius:3px 0 0 3px;
}
.search-btn, .search-input>input{
    display:inline-block;
}

.search-btn{
    display: inline-block;
    background:#82AAFC;
    height:32px;
    width: 80px;
    text-align:center;
    line-height:32px;
    border-radius:0 4px 4px 0;
    position:absolute;
    left:315px;
    top:0;
    cursor: pointer;
}
.search-btn span{
    color:white;
}
.high-search{
    display: inline-block;
    background: #82AAFC;
    position: absolute;
    left: 405px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
}
.high-search span{
    color: white;
}
.gray-btn{
    float: right;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 3px;
    background-color:rgba(242,242,242,1);
    text-align: center;
    cursor: pointer;
}